/*
 * Sweet Fridays CSS
 *
 */


/* BASE */
body {
  font-family: 'Raleway', sans-serif;
  color: #191919;
}

.page-main {
  padding-bottom: 2em;
}

.footer .jumbotron {
  margin-bottom: 0;
}

/* PATTERNS */
.hero {
  text-align: center;
}

.hero-cta {
  font-size: 1.5em;
  margin-bottom: 0;
}

.nav-link {
  text-transform: uppercase;
}

.nav-item.active {
  font-weight: 700;
}

.product {
  margin-bottom: 40px;
}

.product-left {
  padding-right: 30px;
}

.product-heading {
  font-weight: 600;
}

.product-sub-heading {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

.product-ingredients {
  font-size: .95em;
}

/* HEADER */
.header {
  padding-top: 40px;
}

.header a {
  color: #191919;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
}

.header .nav {
  overflow: hidden;
}

.header .navbar-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: .5em;
  border: 1px solid;
}

.header .nav .nav-link {
  margin: 0;
  font-size: 1.1em;
}

.header .nav .nav-link:last-of-type {
  padding-right: 0;
}

.contact-methods {
  display: flex;
  order: 3;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 0;
  font-size: 1.15em;
  text-align: right;
}

.contact-methods .method {
  line-height: 1;
}

.contact-methods .fa {
  font-size: 24px;
  margin-left: 15px;
}


/* CONTACT FORM */
.contact-form {
  margin: 0 auto;
  max-width: 32em;
}

/* RESPONSIVE CHANGES */
@media (max-width: 47.9em) {
  .header .container {
    display: block;
  }

  .header .nav-wrap {
    display: block;
  }

  .product-left {
    display: block;
    margin-bottom: 20px;
  }
}
